@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html {
    font-family: 'Readex Pro', sans-serif;
    background-color: #d6d3d9;
}
body {
    padding: 0 1em;
}


h1 {
    padding-bottom: .5em;
    border-bottom: solid 10px #7a0037;
}

ol {
    border-radius: 20px;
    list-style: none;
    padding: .8em 2em;
}

li {
    padding-top: 2.5em;
    list-style: none;
}

li:first-of-type {
    padding-top: 0px;
}

a {
    background-color: #3b5454;
    padding: .5em 1em;
    border-radius: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    background-color: #7a0037;
}
footer {
    margin: 2em 0;
    padding-top: 2em;
    border-top: solid 10px #7a0037;

}